
h1{
    text-align: center !important;
}

.btn-danger{
    margin-left: 5px !important;
}

.subm{
    text-align: center ;
}

.title{
    padding-bottom: 18px !important;
}

.search1{
    margin-left: 15px ;
}