
*{
	margin: 0;
	padding: 0;
}

body{
	font-family: sans-serif;
	font-size: 15px;
}

#menu ul{
	background: #8ad385;
	width: 250px;
	padding: 0;
	list-style-type: none;
}

#menu ul li{
	width: auto;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #e8e8e8;
	padding: 0 1em;
	position: relative;
}

#menu ul li a{
	text-decoration: none;
	color: #333;
	display: block;
}

#menu ul li:hover{
	background: #CDE2CD;
}

#menu .menu1{
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li:hover .menu1{
	display: block;
}

#menu .menu1 .menu1-1 {
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li .menu1 li:hover .menu1-1{
	display: block;
}

#menu .menu1 .menu1-2 {
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li .menu1 li:hover .menu1-2{
	display: block;
}

#menu .menu1 .menu1-3 {
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li .menu1 li:hover .menu1-3{
	display: block;
}

#menu .menu2{
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li:hover .menu2{
	display: block;
}

#menu .menu2 .menu2-1 {
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li .menu2 li:hover .menu2-1{
	display: block;
}

#menu .menu2 .menu2-2 {
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li .menu2 li:hover .menu2-2{
	display: block;
}

#menu .menu2 .menu2-3 {
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li .menu2 li:hover .menu2-3{
	display: block;
}

#menu .menu2 .menu2-4 {
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li .menu2 li:hover .menu2-4{
	display: block;
}

#menu .menu2 .menu2-5 {
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li .menu2 li:hover .menu2-5{
	display: block;
}

#menu .menu3{
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li:hover .menu3{
	display: block;
}

#menu .menu3 .menu3-1 {
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li .menu3 li:hover .menu3-1{
	display: block;
}

#menu .menu3 .menu3-2 {
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li .menu3 li:hover .menu3-2{
	display: block;
}

#menu .menu3 .menu3-3 {
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li .menu3 li:hover .menu3-3{
	display: block;
}

#menu .menu4{
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li:hover .menu4{
	display: block;
}

#menu .menu4 .menu4-1 {
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li .menu4 li:hover .menu4-1{
	display: block;
}

#menu .menu4 .menu4-2 {
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li .menu4 li:hover .menu4-2{
	display: block;
}

#menu .menu5{
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li:hover .menu5{
	display: block;
}

#menu .menu5 .menu5-1 {
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li .menu5 li:hover .menu5-1{
	display: block;
}

#menu .menu5 .menu5-2 {
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li .menu5 li:hover .menu5-2{
	display: block;
}

#menu .menu6{
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li:hover .menu6{
	display: block;
}

#menu .menu6 .menu6-1 {
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li .menu6 li:hover .menu6-1{
	display: block;
}

#menu .menu6 .menu6-2 {
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li .menu6 li:hover .menu6-2{
	display: block;
}

#menu .menu6 .menu6-3 {
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li .menu6 li:hover .menu6-3{
	display: block;
}

#menu .menu6 .menu6-4 {
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li .menu6 li:hover .menu6-4{
	display: block;
}

#menu .menu7{
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li:hover .menu7{
	display: block;
}

#menu .menu7 .menu7-1 {
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li .menu7 li:hover .menu7-1{
	display: block;
}

#menu .menu7 .menu7-2 {
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li .menu7 li:hover .menu7-2{
	display: block;
}

#menu .menu7 .menu7-3 {
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li .menu7 li:hover .menu7-3{
	display: block;
}

#menu .menu7 .menu7-4 {
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li .menu7 li:hover .menu7-4{
	display: block;
}

#menu .menu8{
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li:hover .menu8{
	display: block;
}

#menu .menu8 .menu8-1 {
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li .menu8 li:hover .menu8-1{
	display: block;
}

#menu .menu8 .menu8-2 {
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li .menu8 li:hover .menu8-2{
	display: block;
}

#menu .menu8 .menu8-3 {
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li .menu8 li:hover .menu8-3{
	display: block;
}

#menu .menu8 .menu8-4 {
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li .menu8 li:hover .menu8-4{
	display: block;
}

#menu .menu9{
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li:hover .menu9{
	display: block;
}

#menu .menu9 .menu9-1 {
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li .menu9 li:hover .menu9-1{
	display: block;
}

#menu .menu9 .menu9-2 {
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li .menu9 li:hover .menu9-2{
	display: block;
}

#menu .menu9 .menu9-3 {
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li .menu9 li:hover .menu9-3{
	display: block;
}

#menu .menu10{
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li:hover .menu10{
	display: block;
}

#menu .menu10 .menu10-1 {
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li .menu10 li:hover .menu10-1{
	display: block;
}

#menu .menu10 .menu10-2 {
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li .menu10 li:hover .menu10-2{
	display: block;
}

#menu .menu10 .menu10-3 {
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li .menu10 li:hover .menu10-3{
	display: block;
}

#menu .menu11{
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li:hover .menu11{
	display: block;
}

#menu .menu11 .menu11-1 {
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li .menu11 li:hover .menu11-1{
	display: block;
}

#menu .menu11 .menu11-2 {
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li .menu11 li:hover .menu11-2{
	display: block;
}

#menu .menu12{
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li:hover .menu12{
	display: block;
}

#menu .menu12 .menu12-1 {
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li .menu12 li:hover .menu12-1{
	display: block;
}

#menu .menu12 .menu12-2 {
	position: absolute;
	left: 250px;
	top: 0;
	display: none;
}

#menu ul li .menu12 li:hover .menu12-2{
	display: block;
}