*{
	box-sizing: border-box;
}

#logo{
	float: left;
	width: 40%;
}

#main-menu {
	float: left;
	font-size: 18px;
	color: red;
	width: 60%;
	text-decoration: none;
}


.wrap {
	max-width: 1200px;
	margin: auto;
}
.box{
	float: left;
	width: 33%;
	border: 1px solid #dddddd;
	border-top-width: 5px;
	padding: 25px;
	margin: 0;
}

.box img{
	max-width: 330px;
}

.box b{
	font-size: 18px;
	text-align: center;
}
body{
	background-color: #E5E5E5;
	margin: 0;
	padding: 0;
}

#open{
	font-size: 20px;
}
