.menu{
    max-width: 100%;
    background-color: #FFF;
    text-align: center;
    margin: 5px;
    
}

.image{
    float: left;
    max-width: 25%;
    height: 500px;
    padding: 5px;
    border: 1px solid gray;
}

.text-img{
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
}

.money{
    padding-left: 40px;
    color: red;
}

.write{
    padding: 3px 0;
    margin-left: 40px;
    text-decoration: none;
    text-align: -webkit-match-parent;
    font: 14px/18px Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
}

.write-1{
    max-width: 1200px;
    padding-left: 350px;
    display: block;
    line-height: 1.3em;
    font-size: 18px;
    color: #333;
    margin-bottom: 0;
}

.menu-2{
    background-color: white;
}