
*{
	box-sizing: border-box;
}

.title{
	width: 500px;
	margin: auto;
	animation: phongto 0.5s infinite;
}
.title img{
	width: 100%;
	transition: all 1s linear;
}

@keyframes phongto{
	25%{
		transform: scale(1);
	}
	50%{
		transform: scale(1.05);
	}
	75%{
		transform: scale(1.15);
	}
	100%{
		transform: scale(1.05);
	}

}

