
*{
	margin: 0;
	padding: 0;
}

#list{
	margin: auto;
	background-color:gray;
	max-width: 1300px;
	padding: 20px;
	padding-top: 2px;
	border-radius: 5px;
}

.menu{
	float: left;
	width: 22%;
	position: relative;
	padding: 10px;
	text-align: center;
}


img{
	max-width: 90%;
	height: 220px;
	padding: 15px;
	border: 2px solid blue;
	border-radius: 10px;
}

h1{
	text-align: center;
	font-family: sans-serif;
	font-size: 32px;
}

p{
	font-size: 25px;
	text-decoration: none;
	text-align: center;
	text-decoration: underline;

}


#list {
	overflow: hidden;
}


#list .menu1 img{
	transition: all 0.5s linear;
	padding-left: 20px;
}

#list .menu1:hover img{
	transform: scale(1.1);
	opacity: 0.8;
}

#list .menu2 img{
	transition: all 0.5s linear;
	padding-left: 20px;
}

#list .menu2:hover img{
	transform: scale(1.1);
	opacity: 0.8;
}

#list .menu3 img{
	transition: all 0.5s linear;
	padding-left: 20px;
}

#list .menu3:hover img{
	transform: scale(1.1);
	opacity: 0.8;
}

#list .menu4 img{
	transition: all 0.5s linear;
	padding-left: 20px;
}

#list .menu4:hover img{
	transform: scale(1.1);
	opacity: 0.8;
}

#list .menu5 img{
	transition: all 0.5s linear;
	padding-left: 20px;
}

#list .menu5:hover img{
	transform: scale(1.1);
	opacity: 0.8;
}

#list .menu6 img{
	transition: all 0.5s linear;
	padding-left: 20px;
}

#list .menu6:hover img{
	transform: scale(1.1);
	opacity: 0.8;
}

#list .menu7 img{
	transition: all 0.5s linear;
	padding-left: 20px;
}

#list .menu7:hover img{
	transform: scale(1.1);
	opacity: 0.8;
}

#list .menu8 img{
	transition: all 0.5s linear;
	padding-left: 20px;
}

#list .menu8:hover img{
	transform: scale(1.1);
	opacity: 0.8;
}

#list .menu9 img{
	transition: all 0.5s linear;
	padding-left: 20px;
}

#list .menu9:hover img{
	transform: scale(1.1);
	opacity: 0.8;
}

#list .menu10 img{
	transition: all 0.5s linear;
	padding-left: 20px;
}

#list .menu10:hover img{
	transform: scale(1.1);
	opacity: 0.8;
}

#list .menu11 img{
	transition: all 0.5s linear;
	padding-left: 20px;
}

#list .menu11:hover img{
	transform: scale(1.1);
	opacity: 0.8;
}

#list .menu12 img{
	transition: all 0.5s linear;
	padding-left: 20px;
}

#list .menu12:hover img{
	transform: scale(1.1);
	opacity: 0.8;
}

@media screen and (max-width: 768px){
    h1{
    	font-size: 25px !important;
    }
}

@media screen and (min-width:1200px) {
	.menu {
	  width: 23%;
	}
  }
  @media screen and (max-width: 1199px) and (min-width: 992px) {
	.menu {
	  width: 31.2%;
	}
  }
  @media screen and  (max-width: 991px) and (min-width: 768px) {
	.menu {
	  width: 46.8%;
	}
  }
  @media screen and (max-width: 767px) {
	.menu {
	  width: 93.6%;
	}
  }